header{
    display: flex;
    overflow: hidden;
}
.h_ugol_l img{
    position: absolute;
    width: 30%;
    height: 30vw;
  
}
.h_ugol_r{
    position: absolute;
    left: 88%;
    top: -23%;
    height: 329px;
    z-index: 1;
    overflow: hidden;
}
.h_ugol_r img{
height: 100%;
z-index: 2;
}
 body{
    margin: 0;
    font-size: 1vw;
    
   
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Times, serif, Helvetica, sans-serif;
    font-weight: 400;
 }
 .h_center{
    width: 80%;
  margin: auto;
  position: relative;
z-index: 3;
border-bottom:  solid 2px;
border-color: gray;
/* padding-bottom: 30px; */
display: flex;
margin-top: 6vw;
justify-content: center;
margin-bottom: 30px;
 }
 .h_center img{
  width: 80%;
}
.h_center div{
    /* width: 50%; */
}
.h_center h1{
    font-size: 2vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif, Helvetica, sans-serif;
    margin-left: 40px;
}
h2{
    font-size: 1.5vw;
    color: rgb(89, 88, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Times, serif, Helvetica, sans-serif;
    font-weight: 400;
       letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px;
    margin-top: 20px;
}
h3{
    font-size: 1vw;
    color: rgb(192, 35, 35);
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Times, serif, Helvetica, sans-serif;
    font-weight: 400;
       letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px;
}
.h_center .cl{
   text-align: right;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: end;
}
.h_center .cl img{
    border-radius: 50px;
    margin-top: 4vw;
}
.h_center .cr{
    position: relative;
   /*  left: -20px; */
    width: 70%;
}
.h_center article{
    padding-left: 40px;
}
.line50{
    width: 50%;
    border: solid 1px;
    border-color: gray;
 
}
header section {
    display: flex;
}
.div50{
    width: 50%;
    padding-left:25px ;
    text-align: center;
}
.black_kv {
    width: 2%;
    position: relative;    
    top:95%;    
}
.black_kv img{
    width: 100%;
      
}
ul li{
    font-size: 1vw;
}
ul{
    padding-left: 2vw;
    margin-top: 0;
    text-align: left;
}
main{
    display: flex;
    padding-left: 40px;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
    width: 80%;
    justify-content: center;
    margin: auto;
}
 main .div50l{
    position: relative;

    border-left: solid 2px;
    border-color: gray;
 }
 .r_kvadrat{
    width: 10vw;
    height: 6vw;
    background-color: #ff5200        ;
    position: absolute;
    left: -4vw;   
    border-radius: 2vw;
 
 }
 main .div50l, .div50r{
    
    width: 50%;
    padding-left:25px ;
    position: relative;
    /* text-align: center; */
 }
 .art_l{
   display:flex ; 
   align-items: center;
 }
  .art_l img{
    width: 7px;
    height: 7px;
  }
  main p{
    text-align: left;
    margin-left: 16px;
  }
  main h3{
    margin: 1px 10px 1px 10px;
   
  }
  main .flex{
    display: flex;
    margin-left: 16px;
    align-items: center;
    justify-content: space-around;
  }
   main .ins_L{
    display: flex;
    align-items: center;
   }
   main .ins_L, .flex img{
    width: 7px;
    height: 7px;
    margin: 0.4vw;
   }
   .ins_L span{
    margin-left: 1vw;
   }
   .box_L, .box_R{
    display: block;
    width: 50%;
   }
   main .hobby_block{
    display: flex;
    align-items: center;
   }
    .gray_absolute{
      position: absolute;
      left: 75vw;
    
      width: 30vw; 
    }
    .gray_absolute img{
        width: 100%;
    }
    .gray_kolco{
        position: absolute;
        left: -30vw;
         top: 50vw;
        width: 60vw; 
      }
      .gray_kolco img{
          width: 100%;
      }
   .end_black_box {
   
    height: 100%;
 
    border-right: solid 2px;
    border-color: gray;
  
}
.end_black_box img{
    width: 3%;
    position: relative;    
    left: 95%; 
    top:40%;  
}